    prefer-no-csd
    screenshot-path null

    environment {
        ELECTRON_OZONE_PLATFORM_HINT "auto"
        QT_QPA_PLATFORM "wayland"
        QT_QPA_PLATFORMTHEME "gtk3"
        QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
        XDG_CURRENT_DESKTOP "niri"
        XDG_SESSION_TYPE "wayland"
        PROTON_ENABLE_WAYLAND "1"
        PROTON_NO_STEAMINPUT "1"

    }

    cursor {
        xcursor-theme "breeze_cursors"
        xcursor-size 24
    }

    debug {
        honor-xdg-activation-with-invalid-serial
        enable-overlay-planes
        // disable-direct-scanout
    }

    clipboard {
        disable-primary
    }

    hotkey-overlay {
       skip-at-startup
    }


    blur {
      passes 3
      offset 9.0
    }
