layout {

    focus-ring {
        active-color   "#89b4fa"
        inactive-color "#1e1e2e"
        urgent-color   "#f38ba8"
    }

    border {
        active-color   "#89b4fa"
        inactive-color "#1e1e2e"
        urgent-color   "#f38ba8"
    }


    tab-indicator {
        active-color   "#89b4fa"
        inactive-color "#0751c9"
        urgent-color   "#f38ba8"
    }

    insert-hint {
        color "#89b4fa80"
    }
}

recent-windows {
    highlight {
        active-color "#89b4fa"
        urgent-color "#f38ba8"
    }
}
